*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!samples.tsv
!units.tsv
!schemas
!schemas/*
!.test/samples_test.tsv
!.test/units_test.tsv
!.test/config_test.yaml
!.test_snakemake.sh
!.test_snakemake_real.sh
!.test/RNASeqFileList.tsv
!.test/fastq
!LICENSE
!report
!report/*.rst
!snakemake.sbatch
!cluster-config.json
!samples_RNAseq.tsv
!RNASeqFileList.tsv
!.test.snakemake.sbatch
