samples: samples.tsv
units: units.tsv
RNASeqFileList: RNASeqFileList.tsv

# Temporary files will be prefixed with path/to/scratch/. Leave as empty string to use default snakemake working directory
temp_files_prefix: /scratch/midway2/bjf79/TestResultsScratch/

# Prefix for valuable, small output that is not ignored by git (CountTable for example)
gitinclude_output: ../../output/

# the R1 sequencing adapter. #add -A parameter at bottom of config file for R2 adapter
adapter: AGATCGGAAGAGCACACGTCTGAACTCCAGTCA

read_mapping:
  # Prefix to add to all read group IDs (RGID=[ReadGroupID_prefix][SampleName]). End with '-' character so that plink famID is automatically filled with this prefix
  ReadGroupID_prefix: Pan_troglodytes_ThisStudy-
  # whether to map with bwa (mapped in chunks and chunks merged after mapping to decrease job time) or map with hisat2 (no chunking necessary)
  bwa: true
  # size (in number read pairs) of read chunks
  chunksize: 50000000

# whether to remove PCR/optical duplicates
rmdup: true

ref:
  # name used in snpeff database
  name: Chimp

  genome: /home/bjf79/myhome_gilad_rcc/genomes/Pan_tro_3.0_Ensembl/Sequence/DNA/Pan_troglodytes.Pan_tro_3.0.dna_sm.chromosome.fa

  genomeindexbase: /home/bjf79/myhome_gilad_rcc/genomes/Pan_tro_3.0_Ensembl/Sequence/DNA/Pan_troglodytes.Pan_tro_3.0.dna_sm.chromosome.fa

  #TODO incorporate making this from genome file. Picard/GATK dict file
  genomedict: /home/bjf79/myhome_gilad_rcc/genomes/Pan_tro_3.0_Ensembl/Sequence/DNA/Pan_troglodytes.Pan_tro_3.0.dna_sm.chromosome.dict

  #gtf must be unzipped
  genomegtf: /home/bjf79/myhome_gilad_rcc/genomes/Pan_tro_3.0_Ensembl/GeneAnnotation/Pan_troglodytes.Pan_tro_3.0.94.chr.gtf

  transcriptsfa: /home/bjf79/myhome_gilad_rcc/genomes/Pan_tro_3.0_Ensembl/Sequence/transcript/Pan_troglodytes.Pan_tro_3.0.cdna.all.fa.gz

  # known variants (e.g. DBSNP) (Must by bgzip compressed and indexed with tabix command)
  known-variants: /home/bjf79/myhome_gilad_rcc/genomes/Pan_tro_3.0_Ensembl/Variation/VCF/pan_troglodytes.vcf.gz

  #reference population vcf (deManuel_2016 data) to study population structure
  reference-population-vcf: /project2/gilad/bjf79_project1/projects/Chimp_eQTL/GenotypeData/deManuel_2016_data/Clean_Callable_Pan_troglodytes-paniscus_Concat_1M_HWE_gls_Hetexcess.vcf.gz
  reference-population-callablesites-bed: /project2/gilad/bjf79_project1/projects/Chimp_eQTL/GenotypeData/deManuel_2016_data/Pan_troglodytes-paniscus_callable.bed

  #deManuel_2016 data in PanTro4
  reference-population-liftover-need: true

  chain-file: /project2/gilad/bjf79/genomes/Pan_tro_3.0_Ensembl/Liftover/panTro4ToPanTro5.over.chain.reformatted.gz

variant_calling:
  # whether to call variants in small chunks (chunks smaller than the size of contigs) to increase parralelization on cluster. Each chunk called on a node. If false, will call variants by contig. All calls get merged into single vcf by the end.
  freebayes_in_chunks: true
  # size in basepairs (if a contig is smaller than the chunksize, that contig will be called as a single chunk).
  chunksize: 2500000

params:
  picard:
    MarkDuplicates: "REMOVE_DUPLICATES=true -Xmx20g"
  cutadapt:
    pe: "-A AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT -m 20"
    se: ""

PopulationSubstructure:
    AdmixturePlinkFilters: '--id-delim "-" --remove-fam <(echo Pan_paniscus) --maf 0.05'
    AdmixtureK:
        - "4"
        - "5"

eQTL_mapping:
    read_mapper: "STAR"
    # Must be either "kallisto" or "STAR"
    genes: "../../data/cDNA.all.chromosomal.bed"
    # gene locations. used only in kallisto (if any.)
    gene_to_transcripts: "../../data/Biomart_export.Pan_Tro_3.geneids.txt"
    # transcript-level quantifications (kallisto) will be summed to gene-level
    # quantifications using this file as a key. Tab-delimited with Two columns
    # with a header can be obtained from BioMart. 1. Gene stable ID 2.
    # Transcript stable ID
    TSS_flanking_snp_width: 1000000
    # cis-SNPs definied as SNPs within this many bp from a gene's TSS
    quantile_normalize: true
    # Either true or false. If false, will model log(TPM) or log(CPM) without
    # normalization.
    gemma_batch_size: 1000
    # To control eQTL modeling parrallelization... Set how many calls to gemma
    # (1 gemma call for each gene, unless permutation testing) to lump into
    # each batch script. I have moved on to do the eQTL mapping with MatrixEQTL
    # (not gemma), though I left some of the old gemma code. So this parameter
    # may not be of importance.
    model_type: "lmm"
    # Must be either "lm" or "lmm". Only applies to MatrixEQTL rules.
    CovariatesDir: ""
    # Optional directory containing covariates in same format as requested by
    # MatrixEQTL. I recommend making these files using the R script in the
    # scripts directory. This option exists since choosing the covariates has
    # been an iterative process that is not alaways well suited to automatic
    # incorporation into the snakemake pipeline. Out of all the covariate files
    # in this directory, the model with the most eQTLs will be kept for further
    # analysis. If this option is left blank, the value of this option will be
    # filled to the default value "../../output/Covariates/" and the snakemake
    # will automatically create the covariate files as coded in the
    # eqtl_calling.smk portion of the pipeline.
    CovariatePCs:
        # If CovariatesDir is set to default, will try all combinations of
        # covariates as definied by the following number of PCs and make a plot
        # of number of PCs versus number eGenes
        GenotypePC_min: 0
        GenotypePC_max: 0
        RNASeqPC_min: 0
        RNASeqPC_max: 13
    gene_x_SNP_FDR: 0.1
    # FDR threshold for counting number of significant eQTLs at the level of
    # SNP-gene pairs
    gene_FDR: 0.1
    # FDR threshold for counting number of significant eQTLs at the level of
    # eGenes (permutation testing done by FastQTL or MatrixEQTL script)
    PermutationChunkSize: 25
    # Number permutations of GTEx style permutations for identifying eGenes
    NumberPermutationChunks: 400
    # Used in permutation testing. Number of jobs to break up the eQTL calling
    # (with permutations) across various compute nodes
    # The total number of permutations is equal to PermutationChunkSize*NumberPermutationChunks.
    CovariatesForFullOutput: "../../output/Covariates/0GenotypePCs_and_10RNASeqPCs.covariates"
    #Run matrix eqtl once and ouput summary statistics for every snp-gene pair
    #using this covariates file.



# Extract DNA-seq and RNA-seq reads from this region to make mock data for
# testing purposes.
# The functions relating to this part of the code are not well developed.
MockDataMaker:
    MakeMockData: True
    SampleListForMockData: "MockDataSampleList.tsv"
    #Ras gene
    Region: "11:450,056-466,155"

PowerAnalysis:
    RNASeqFileList: "DE_gene_power_analysis_SampleList.tsv"
    Human_ref:
        genome_fasta: "/project2/gilad/bjf79/genomes/GRCh38_Ensembl/Sequence/Homo_sapiens.GRCh38.dna_sm.chromosome.all.fa"
        genome_gtf: "/project2/gilad/bjf79/genomes/GRCh38_Ensembl/Annotations/Homo_sapiens.GRCh38.94.chr.gtf"
        genome_dir: "/project2/gilad/bjf79/genomes/GRCh38_Ensembl/STAR_genomedir/"
    Subread:
        Human_gtf:
            "/project2/gilad/bjf79/genomes/2017_July_ortho/2017_July_ortho_human.gtf"
        Chimp_gtf:
            "/project2/gilad/bjf79/genomes/2017_July_ortho/2017_July_ortho_chimp.nochr.gtf"
    #Chimp reference genome defined earlier

LocusZoomDirectoryPath:
    "/project2/gilad/bjf79_project1/software/locusZoomWithLD/locuszoom/"

GTEx_eQTL_mapping:
    vcf: "GTEX_renalysis/vcf/GTEx_Analysis_2017-06-05_v8_WGS_VCF_files_GTEx_Analysis_2017-06-05_v8_WholeGenomeSeq_838Indiv_Analysis_Freeze.SHAPEIT2_phased.vcf.gz"
    covariates: "GTEX_renalysis/data/GTEx_Analysis_v8_eQTL_covariates/Heart_Left_Ventricle.v8.covariates.txt"
    phenotypes: "GTEX_renalysis/data/GTEx_Analysis_v8_eQTL_expression_matrices/Heart_Left_Ventricle.v8.normalized_expression.bed.gz"
    sample_list: "../../data/GTEx_Heart_v8_AcceptableSampleList.txt"
    FastQTL_params: "-W 250000"
    chunks: 100
    subsample_size: 40
    number_subsamples: 1
    variable_sample_sizes:
        - 40
        - 80
        - 120
        - 160
        - 200

