samples: samples.tsv
units: units.tsv
RNASeqFileList: RNASeqFileList.tsv

# Temporary files will be prefixed with path/to/scratch/. Leave as empty string to use default snakemake working directory
temp_files_prefix: /scratch/midway2/bjf79/TestResultsScratch/

# Prefix for valuable, small output that is not ignored by git (CountTable for example)
gitinclude_output: ../../output/

# the R1 sequencing adapter. #add -A parameter at bottom of config file for R2 adapter
adapter: AGATCGGAAGAGCACACGTCTGAACTCCAGTCA

read_mapping:
  # Prefix to add to all read group IDs (RGID=[ReadGroupID_prefix][SampleName]). End with '-' character so that plink famID is automatically filled with this prefix
  ReadGroupID_prefix: Pan_troglodytes_ThisStudy-
  # whether to map with bwa (mapped in chunks and chunks merged after mapping to decrease job time) or map with hisat2 (no chunking necessary)
  bwa: true
  # size (in number read pairs) of read chunks
  chunksize: 50000000

# whether to remove PCR/optical duplicates
rmdup: true

ref:
  # name used in snpeff database
  name: Chimp

  genome: /home/bjf79/myhome_gilad_rcc/genomes/Pan_tro_3.0_Ensembl/Sequence/DNA/Pan_troglodytes.Pan_tro_3.0.dna_sm.chromosome.fa

  genomeindexbase: /home/bjf79/myhome_gilad_rcc/genomes/Pan_tro_3.0_Ensembl/Sequence/DNA/Pan_troglodytes.Pan_tro_3.0.dna_sm.chromosome.fa

  #TODO incorporate making this from genome file. Picard/GATK dict file
  genomedict: /home/bjf79/myhome_gilad_rcc/genomes/Pan_tro_3.0_Ensembl/Sequence/DNA/Pan_troglodytes.Pan_tro_3.0.dna_sm.chromosome.dict

  #gtf must be unzipped
  genomegtf: /home/bjf79/myhome_gilad_rcc/genomes/Pan_tro_3.0_Ensembl/GeneAnnotation/Pan_troglodytes.Pan_tro_3.0.94.chr.gtf

  transcriptsfa: /home/bjf79/myhome_gilad_rcc/genomes/Pan_tro_3.0_Ensembl/Sequence/transcript/Pan_troglodytes.Pan_tro_3.0.cdna.all.fa.gz

  # known variants (e.g. DBSNP) (Must by bgzip compressed and indexed with tabix command)
  known-variants: /home/bjf79/myhome_gilad_rcc/genomes/Pan_tro_3.0_Ensembl/Variation/VCF/pan_troglodytes.vcf.gz

  #reference population vcf (deManuel_2016 data) to study population structure
  reference-population-vcf: /project/gilad/bjf79/projects/Chimp_eQTL/GenotypeData/deManuel_2016_data/Clean_Callable_Pan_troglodytes-paniscus_Concat_1M_HWE_gls_Hetexcess.vcf.gz
  reference-population-callablesites-bed: /project/gilad/bjf79/projects/Chimp_eQTL/GenotypeData/deManuel_2016_data/Pan_troglodytes-paniscus_callable.bed

  #deManuel_2016 data in PanTro4
  reference-population-liftover-need: true

  chain-file: /home/bjf79/myhome_gilad_rcc/genomes/Pan_tro_3.0_Ensembl/Liftover/panTro4ToPanTro5.over.chain.reformatted.gz

variant_calling:
  # whether to call variants in small chunks (chunks smaller than the size of contigs) to increase parralelization on cluster. Each chunk called on a node. If false, will call variants by contig. All calls get merged into single vcf by the end.
  freebayes_in_chunks: true
  # size in basepairs (if a contig is smaller than the chunksize, that contig will be called as a single chunk).
  chunksize: 2500000

params:
  picard:
    MarkDuplicates: "REMOVE_DUPLICATES=true -Xmx20g"
  cutadapt:
    pe: "-A AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT -m 20"
    se: ""

PopulationSubstructure:
    AdmixturePlinkFilters: '--id-delim "-" --remove-fam <(echo Pan_paniscus) --maf 0.05'
    AdmixtureK:
        - "4"
        - "5"

eQTL_mapping:
    # 6 column UCSC bed file of genes. Fourth column is gene name. Used to
    # determine cis-SNPs to test. Best to create or download this file to match
    # the annotations used for RNA-seq gene quantification.
    # I used the following command to get this file.
    # zcat /project2/gilad/bjf79/genomes/Pan_tro_3.0_Ensembl/Sequence/transcript/Pan_troglodytes.Pan_tro_3.0.cdna.all.fa.gz | grep '>' | awk -v OFS='\t' '{split($3,":"); if(a[6]==1){strand="+"} else if(a[6]==-1){strand="-"} else{strand="."} print a[3], a[4], a[5], substr($1,2), ".", strand}' | awk -F'\t' -v OFS='\t' '$1 ~ /^[0-9]+$/ || $1 ~ /^2A$/ || $1 ~ /^2B$/ || $1 ~ /^X$/ || $1 ~ /^Y$/  ' | bedtools sort -i - -faidx /project2/gilad/bjf79/genomes/Pan_tro_3.0_Ensembl/Sequence/DNA/Pan_troglodytes.Pan_tro_3.0.dna_sm.chromosome.fa.fai | > /project2/gilad/bjf79/genomes/Pan_tro_3.0_Ensembl/GeneAnnotation/cDNA.all.chromosomal.bed)}'
    genes: /project2/gilad/bjf79/genomes/Pan_tro_3.0_Ensembl/GeneAnnotation/cDNA.all.chromosomal.bed
    # cis-SNPs definied as SNPs within this many bp from a gene's TSS
    TSS_flanking_snp_width: 1000000
    # To control eQTL modeling parrallelization... Set how many calls to gemma
    # (1 gemma call for each gene, unless permutation testing) to lump into
    # each batch script
    gemma_batch_size: 1000

# Extract DNA-seq and RNA-seq reads from this region to make mock data for
# testing purposes.
MockDataMaker:
    MakeMockData: True
    SampleListForMockData: "MockDataSampleList.tsv"
    #Ras gene
    Region: "11:450,056-466,155"
